@{
    ViewBag.Title = "SuccessTransAsking";
}

<h2>Giao dịch thành công !</h2>

@using (Html.BeginForm("SuccessTransAsking", "Home", FormMethod.Post))
{
    <fieldset>
        <legend>Giao Dịch Thành Công ! </legend>
        Bạn có muốn tiếp tục giao dịch không ?
        <table style="border-style:none; border-color:white">
            <tr>
                <td width="150px" height="45px" style="background-color:transparent; border-color:transparent"></td>
                <td width="150px" height="45px" style="background-color:transparent; border-color:transparent"></td>
                <td width="150px" height="45px" style="background-color:transparent; border-color:transparent"></td>
            </tr>
            <tr>
                <td width="150px" height="45px" style="background-color:transparent; border-color:transparent"></td>
                <td width="150px" height="45px" style="background-color:transparent; border-color:transparent"></td>
                <td style="border-color:deepskyblue">
                    <input type="submit" name="submitButton" value="CÓ" style="background-color:transparent; border-color:transparent; width:150px " />
                </td>
            </tr>
            <tr>
                <td width="150px" height="45px" style="background-color:transparent; border-color:transparent" ></td>
                <td width="150px" height="45px" style="background-color:transparent; border-color:transparent"></td>
                <td style="border-color:deepskyblue">
                    <input type="submit" name="submitButton" value="KHÔNG" style="background-color:transparent; border-color:transparent; width:150px" />
                </td>
            </tr>
        </table>
    </fieldset>
}