@{
    ViewBag.Title = "Kiểm tra số dư";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
<h2>Kiểm Tra Số Dư</h2>
@using (Html.BeginForm("CheckBalanceMenu", "Account", FormMethod.Post))
{
    <fieldset>
        <legend>Chọn hình thức kiểm tra số dư tài khoản</legend>
        <table style="border-style:none; border-color:white">
            <tr>
                <td width="150px" height="45px" style="background-color:transparent; border-color:transparent"></td>
                <td width="150px" height="45px" style="background-color:transparent; border-color:transparent"></td>
                <td width="150px" height="45px" style="background-color:transparent; border-color:transparent"></td>
            </tr>
            <tr>
                <td width="150px" height="45px" style="background-color:transparent; border-color:transparent"></td>
                <td width="150px" height="45px" style="background-color:transparent; border-color:transparent"></td>
                <td style="border-color:deepskyblue">
                    <input type="submit" name="submitButton" value="  Hiển Thị  " class="awesome" style="background-color:transparent; border-color:transparent; width:150px " />
                </td>
            </tr>
            <tr>
                <td width="150px" height="45px" style="background-color:transparent; border-color:transparent"></td>
                <td width="150px" height="45px" style="background-color:transparent; border-color:transparent"></td>
                <td style="border-color:deepskyblue">
                    <input type="submit" name="submitButton" value="In Hóa Đơn" class="awesome" style="background-color:transparent; border-color:transparent; width:150px " />
                </td>
            </tr>
        </table>
    </fieldset>
}