@{
    ViewBag.Title = "CheckNoPeciept";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Thông báo.</h2>

<br />
<a id="message">Hệ thống hiện tại không thể in hóa đơn.</a>
<br />
Quý khách vui lòng xem trên màn hình.<br />
<p>
    @*<li>@Html.ActionLink("Trở về", "CheckBalanceMenu", "Account")</li>*@
</p>
