@{
    ViewBag.Title = "Rút tiền";
}

<h2>Vui lòng chọn mức tiền muốn rút</h2>
@using (Html.BeginForm("Withdraw", "Account", FormMethod.Post))
{
    <fieldset>
        <legend>Chọn số tiền</legend>
        <table>
            <tr>
                <td>
                    <input type="submit" name="submitButton" value="500.000" style="border-style:none; background-color:transparent" />
                </td>
                <td width="300px" style="background-color:transparent"></td>
                <td>
                    <input type="submit" name="submitButton" value="1.000.000" style="border-style:none; background-color:transparent" />
                </td>
            </tr>

            <tr>
                <td>
                    <input type="submit" name="submitButton" value="2.000.000" style="border-style:none; background-color:transparent" />
                </td>
                <td width="300px" style="background-color:transparent"></td>
                <td>
                    <input type="submit" name="submitButton" value="3.000.000" style="border-style:none; background-color:transparent" />
                </td>
            </tr>
            <tr>
                <td></td>
                <td width="300px" style="background-color:transparent">

                </td>
                <td><input type="submit" name="submitButton" value="Other" style="border-style:none; background-color:transparent" />
                </td>
            </tr>
        </table>


        <br />
        <p><a id="message">@ViewBag.Error</a></p>
        @ViewBag.money

    </fieldset>

}
