@{
    ViewBag.Title = "Lịch sử";
}

<h2>Chọn khoảng thời gian cần xem lịch sử giao dịch !</h2>
@using (Html.BeginForm("SelectPeriod", "Log", FormMethod.Post))
{
    <fieldset>
        <legend>Khoảng thời gian</legend>
        <table>
            <tr>
                <td align="left">

                    <input type="submit" name="submitButton" value="1 tuần trước" style="border-style:none; background-color:transparent" />
                </td>
                <td width="300px" style="background-color:transparent"></td>
                <td align="right">
                    <input type="submit" name="submitButton" value="1 tháng trước" style="border-style:none; background-color:transparent" />
                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit" name="submitButton" value="4 tháng trước" style="border-style:none; background-color:transparent" />
                </td>
                <td width="300px" style="background-color:transparent"></td>
                <td align="right">
                    <input type="submit" name="submitButton" value="6 tháng trước" style="border-style:none; background-color:transparent" />
                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit" name="submitButton" value="1 năm trước" style="border-style:none; background-color:transparent" />
                </td>
                <td width="300px" style="background-color:transparent"></td>
                <td align="right">
                    <input type="submit" name="submitButton" value="2 năm trước" style="border-style:none; background-color:transparent" />
                </td>
            </tr>
        </table>
    </fieldset>


}